//
//  qa.xcconfig
//  MobileBanking
//
//  Created by Evgeniy Raev on 14.02.23.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

#include "base.xcconfig"

BASE_URL = http:/$()/192.168.132.120:8095/api/
APP_NAME = BNCTL QA
APP_BUNDLE_ID = tl.bnctl.banking.uat
