<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>332949911724-bbq6ej86jpgvspg5qvthcu0mi0ia02su.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.332949911724-bbq6ej86jpgvspg5qvthcu0mi0ia02su</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>332949911724-j1g7cp32vh15q0e6fi6i0qeo6sn7m254.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCeNSFCsHPMkTXoOCewmM2j2lJDXnUTQFM</string>
	<key>GCM_SENDER_ID</key>
	<string>332949911724</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>bg.allianz.bank.mobilebanking.preprod</string>
	<key>PROJECT_ID</key>
	<string>allianz-mobile-banking-84b5b</string>
	<key>STORAGE_BUCKET</key>
	<string>allianz-mobile-banking-84b5b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:332949911724:ios:19e9d528676a107eec4709</string>
</dict>
</plist>