<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BASE_URL</key>
	<string>$(BASE_URL)</string>
	<key>CFBundleIcons</key>
	<dict/>
	<key>CFBundleIcons~ipad</key>
	<dict/>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>CFBundleURLIconFile</key>
			<string></string>
			<key>CFBundleURLName</key>
			<string>bg.allianz.bank.mobilebanking</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>allianzmobilebanking</string>
			</array>
		</dict>
	</array>
	<key>CURRENCY_DECIMAL_SEPARATOR</key>
	<string>$(CURRENCY_DECIMAL_SEPARATOR)</string>
	<key>CURRENCY_GROUP_SEPARATOR</key>
	<string>$(CURRENCY_GROUP_SEPARATOR)</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LOGIN_TIMEOUT</key>
	<string>$(LOGIN_TIMEOUT)</string>
	<key>UIAppFonts</key>
	<array>
		<string>fonts/Intelligent Design - AvertaPE-Black.otf</string>
		<string>fonts/Intelligent Design - AvertaPE-BlackItalic.otf</string>
		<string>fonts/Intelligent Design - AvertaPE-Bold.otf</string>
		<string>fonts/Intelligent Design - AvertaPE-BoldItalic.otf</string>
		<string>fonts/Intelligent Design - AvertaPE-Extrabold.otf</string>
		<string>fonts/Intelligent Design - AvertaPE-ExtraboldItalic.otf</string>
		<string>fonts/Intelligent Design - AvertaPE-Extrathin.otf</string>
		<string>fonts/Intelligent Design - AvertaPE-ExtrathinItalic.otf</string>
		<string>fonts/Intelligent Design - AvertaPE-Light.otf</string>
		<string>fonts/Intelligent Design - AvertaPE-LightItalic.otf</string>
		<string>fonts/Intelligent Design - AvertaPE-Regular.otf</string>
		<string>fonts/Intelligent Design - AvertaPE-RegularItalic.otf</string>
		<string>fonts/Intelligent Design - AvertaPE-Semibold.otf</string>
		<string>fonts/Intelligent Design - AvertaPE-SemiboldItalic.otf</string>
		<string>fonts/Intelligent Design - AvertaPE-Thin.otf</string>
		<string>fonts/Intelligent Design - AvertaPE-ThinItalic.otf</string>
	</array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
	</dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
	</array>
</dict>
</plist>
